.view-all-container {
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.create-new-course-btn,
.home-btn {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.courses-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.course-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-item h3 {
  margin-bottom: 10px;
}

.course-item p {
  margin-bottom: 5px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.delete-btn,
.details-btn {
  padding: 8px 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.details-btn {
  background-color: #007bff;
}

.course-details {
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
